.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background: #F5F5F6;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 95%;
    padding: 1rem;
}

.coverImg{
    width: 25%;
    height: auto;
    max-height: 170px;
    margin-right: 5px;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    width: 70%;

}

.cardHeader{
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.cardBody{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.coachItem{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.coachAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.card_buttons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card_button{
    color: #263238;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    transition: all 0.25s ease;
}

.button_info{
    background-color: #f2e4f4;
}

.button_info:hover {
    box-shadow: 0 10px 20px -10px #a094b7;
    transform: translateY(-5px);
    background: #f2e4f4;
}


.button_register{
    background-color: #e0f2f1;
}

.button_register:hover {
    box-shadow: 0 10px 20px -10px #82ada9;
    transform: translateY(-5px);
    background: #e0f2f1;
}

.offerName{
    text-align: center;
}

@media only screen and (max-width: 950px) {
    .coverImg {
        display: none;
    }
    .card{
        justify-content: center;
    }
    .cardHeader{
        justify-content: space-evenly;
    }
    .cardBody{
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 450px) {
    .cardHeader{
        justify-content: space-evenly;
    }

    .cardBody{
        justify-content: space-evenly;
    }
    
}

@media only screen and (max-width: 950px) {
    .card{
        width: 100%;
    }
}