.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 180px;
    background: #F5F5F6;
    margin: 10px;
    padding-right: 10px;
}

.coverImg{
    width: 170px;
    height: 170px;
    margin-left: 5px;
    margin-right: 5px;
}

.cardText{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.cardContainer{
    width: 100%;
    display: flex;
    margin-right: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.time{

}

.offerName{
}

.duration{

}

.level{

}

.cardBody{
    display: flex;
}

.coachItem{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.coachAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.coachName{

}

.place{
}

.cardFooter{
}

.card_buttons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card_button{
    color: #263238;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    border: 0px;
    padding: 8px;
    margin: 5px 0px 5px 0px;
}

.button_info{
    background-color: #f2e4f4;
}

.button_register{
    background-color: #e0f2f1;
}