@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.datePicker {
    width: 560px;
    padding-top: 15px;
}

.calendar{
    border: 0px;
    width: 100%;
    line-height: 3em;
    font-family: 'Roboto', sans-serif;
    height: auto;
    display: flex;
    flex-direction: column;
}

.calendar button{
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    height: 75px;
}

.calendar .react-calendar__navigation button {
    background-color: #f0f0f0;
}

.calendar .react-calendar__navigation{
    height:auto ;
    background-color: #f0f0f0 ;
}

.calendar .react-calendar__tile--now {
    background: #d1c4e9 ;
}

.calendar .react-calendar__navigation button:enabled:hover,
.calendar .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6 ;
}

.calendar .react-calendar__tile--now:enabled:hover,
.calendar .react-calendar__tile--now:enabled:focus {
background: #ede7f6 ;
}

.calendar .react-calendar__tile--hasActive {
    background: #76baff;
}

.calendar .react-calendar__tile--hasActive:enabled:hover,
.calendar .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}

.datePicker .calendar .react-calendar__tile--active {
    background-color: #b2dfdb;
    color: #455a64 ;
}
.calendar .react-calendar__tile--active:enabled:hover{
    background: #e0f2f1 ;
}

@media only screen and (max-width: 950px) {
    .datePicker{
        width: 50%;
    }
}

@media only screen and (max-width: 680px) {
    .datePicker{
        width: 90%;
    }
}


@media only screen and (min-width : 1120px) {
    .calendar {
        position: fixed;
        width: 45%;
        max-width: 560px;
    }
}
