.mainViewContent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.listSection{
    display: flex;
    flex-direction: column;
    width: 50%;
}